
<div class="container">
  <h2 class="text-center text-info">{{title}}</h2><br><hr>
 
  <table class="table">
    <thead>
      <tr>
        <th>ProductName</th>
        <th>Price</th>
        <th>Description</th>
        <th>Stock</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor = 'let product of products'>
        <td>{{product.Productname}}</td>
        <td>{{product.Price}}</td>
        <td>{{product.Description}}</td>
        <td>{{product.Stock}}</td>
        <td><app-update-stock [getProductId]='product.Productid' [getStockValue]='product.Stock' (outputEmitObject)='captureResult($event)'></app-update-stock></td>
      </tr>
    </tbody>
  </table>
</div>